{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 80],
    "import/no-unresolved": "warn",
    "react/prefer-stateless-function": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "warn",
    "no-param-reassign": "warn"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  }
}
