/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>
 */
.gatsby-highlight {
  background-color: rgb(40, 44, 52);
  padding: 1.5em 16px;
  margin: 0 -16px;
  overflow: auto;
  font-size: 14px;
}

@media (min-width: 600px) {
  .gatsby-highlight {
    margin: 0 -1.5em;
    border-radius: 4px;
    padding: 1.5em;
  }
}

.gatsby-highlight code {
  color: #ddd;
}

.gatsby-highlight .token.keyword,
.token.script {
  color: rgb(197, 165, 197);
}

.gatsby-highlight .token.function {
  color: rgb(121, 182, 242);
}

.gatsby-highlight .token.string {
  color: rgb(141, 200, 145);
}

.gatsby-highlight .token.attr-name {
  color: #ddd;
}

.gatsby-highlight .token.tag {
  color: #f8c555;
}

.gatsby-highlight-code-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin: 0 -16px;
  padding: 0 16px;
  box-shadow: inset 4px 0 0 0 #f99;
}

@media (min-width: 600px) {
  .gatsby-highlight-code-line {
    margin: 0 -1.5em;
    padding: 0 1.5em;
  }
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*='language-'].line-numbers {
  padding-left: 2.8em;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

:not(pre) > code[class*='language-'] {
  padding: 2px 8px;
  color: #1a1a1a;
  font-size: 16px;
  background-color: rgba(255, 229, 100, 0.2);
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
