#storybook-docs .prismjs {
  max-height: 372px;
}

.docblock-source > div:has(button:only-child) {
  bottom: initial;
  top: 0;
}

.docblock-source > div > button:only-child {
  border-radius: 0 0 0 4px;
  border-top: unset;
  border-bottom: 1px solid hsla(203, 50%, 30%, 0.15);
}

.sbdocs .sbdocs-content {
  max-width: 720px;
}

.demo-container {
  position: relative;
  margin-inline: -32px;
  padding: 32px;
  padding-bottom: 48px;
  border-radius: 4px;
  background-color: #f1f5f9;
  border: 1px solid hsla(203, 50%, 30%, 0.15);
}
.demo-container::before {
  content: "Demo";
  display: block;
  position: absolute;
  font-family: "Menlo", monospace;
  letter-spacing: 0.05em;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  color: #94a3b8;
}
.demo-container:has(+ pre) {
  margin-bottom: -48px;
}
