.sbdocs a,
.sbdocs li,
.sbdocs p {
  font-size: 16px;
  line-height: 1.7;
}

.sbdocs a {
  color: #007bc7;
}

.sb-show-main .sbdocs code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  padding: 0 3px;
  font-size: 0.94em;
  word-break: break-word;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
  border: none;
  border-radius: unset;
}

.docblock-source > div:last-child {
  background-color: unset;
  top: 0;
  bottom: unset;
}

.docblock-source > div:last-child > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border: none;
}

.sbdocs.sbdocs-p + .sbdocs-pre {
  margin-top: -10px;
  margin-bottom: 16px;
}

.sbdocs-pre + .sbdocs-p {
  margin-top: -16px;
}

.sbdocs.sbdocs-wrapper {
  padding: 2rem 1rem;
}

.os-viewport {
  background-color: #2b2b2b;
}

/* MDX */
.sbdocs.sbdocs-content {
  max-width: 720px;
}
